html, body {
    height: 100%;
    margin: 0;
}

body {
    background-image: url('assets/misc/bomberman-wallpaper.png');
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;

}

canvas {
    background-position-y: 64px;
    background-position-x: center;
    background-image: url('assets/misc/green_zone.png');
}

#game {
    position: absolute;
    bottom: 30px;

}

#timerCanvas {
    position: absolute;
    top: 5px; /* 5px für Chrome-basierte Browser und 25 px für Mozilla Firefox */
    background-image: url('assets/misc/timerCanvas.png');
    background-position: initial;
}

#lifeCanvas {
    position: absolute;
    top: 5px;  /* 5px für Chrome-basierte Browser und 25 px für Mozilla Firefox */
    background-position: initial;
    background-image: none;
}

#controlsCanvas {
    background-image: none;
    position: absolute;
    left: 100px;
    top: 200px;
}

#victoryCanvas {
    background-image: none;
    position: absolute;
    left: -550px;
    top: -10px;
}