html, body {
    height: 100%;
    margin: 0;
}

body {
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

canvas {
    background-position-y: 64px;
    background-position-x: center;
    background-image: url('assets/green_zone.png');
}

#game {
    position: absolute;
    bottom: 0;
    z-index: 1; /* Damit das Spiel unter dem Timer bleibt */
}

#timerCanvas {
    position: absolute;
    top: 50px;
    z-index: 2;
    background: #c56704;
}
